// src/pages/CameraPage.scss
@use '../_variables.scss';


.timeline-page {
  animation: fade-slide 0.3s ease-in-out;

  h2{
    font-size: 1.5rem;
  }
  .alerts-card {
    background: #fff;
    padding: 1.5rem 1.5rem 0rem 1.5rem;
    border-radius: 14px;
    height: 80vh;
    display: flex;
    flex-direction: column;

    .alert-filter {
      flex-shrink: 0;
      border: 2px solid variables.$secondary;
      border-radius: 10px;
    }

    .alert-list {
      overflow-y: auto;
      flex-grow: 1;
      margin-top: 0.5rem;

      scrollbar-width: none;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
      }

      .alert-item {
        background-color: variables.$secondary-color;
        border-radius: 8px;
        cursor: pointer;

        &:hover {
          background-color: variables.$hover;
        }

        span {
          font-size: 1.2rem;
        }
      }
    }
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }

  .archive-container {
    background-color: #ffffff;
    border-radius: 14px !important;
    padding: 1.5rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.06);
    height: 80vh; // alerts-card bilan balandlikni tenglashtirish

    display: flex;
    flex-direction: column;

    .record-list {
      flex-grow: 1;
      overflow-y: auto;
      margin-top: 1rem;

      scrollbar-width: none;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .record-card {
    background-color: #e3f2fd;
    border-radius: 14px !important;
    transition: all 0.2s ease;

    &:hover {
      background-color: #bbdefb;
    }
  }

  @media (max-width: 768px) {
    .alerts-card,
    .archive-container {
      height: auto;
    }

    .card-in{
      flex-direction: column;
      align-items: flex-start;
    }

    .buttons {
      justify-content: center;
    }
  }
}
